<div id="<%= dom_id request %>">
  <p>
    <strong>Item:</strong>
    <%= request.item_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= request.duration %>
  </p>

  <p>
    <strong>Seeker:</strong>
    <%= request.seeker_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= request.provider_id %>
  </p>

</div>
