<!DOCTYPE html>
<html>
  <head>
    <title>Borrowbridge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- PicoCSS CDN -->
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css", rel: "stylesheet", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <%= yield %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>
